body {
    background-color:white;
}

img {

    position: absolute;
    width: 360px;
    height: 420px;
    left: 140px;
    top: 174px;
}

#top-name {
    position:absolute;
    width: 184px;
    height: 47px;
    left: 153px;
    top: 44px;
    margin-top: 0px;
    font-size: 40px;
    font-family: sans-serif;
}

#surname {
    color: rgb(177, 177, 177);
}

#contact {
    padding-left: 66%;
    margin-right:auto;
    font-family: sans-serif;
    line-height: 26px;
    font-size: 22px;
    margin-top: 50px;
}

ul li {
    display: inline-block;
    line-height: 24px;
    padding-left: 15px;
}

#developer {
    font-family: sans-serif;
    font-weight: 700px;
    font-size: 72px;
    line-height: 80px;
    padding-left: 57%;
    margin-top: 230px;
}

aside, #location {
    padding-left: 57%;
    font-weight: 600;
    font-size: 24px;
    line-height: 40px;
    color: rgb(51, 51, 51);
    margin-top: 50px;
}

#experience {
    position: absolute;
    font-family: sans-serif;
    width: 365px;
    height: 295px;
    left: 135px;
    line-height: 140px;

    font-size: 144px;
    font-style: normal;
    color:rgb(51, 51, 51) ;
}